[submodule "Carthage/Checkouts/onepassword-app-extension"]
	path = Carthage/Checkouts/onepassword-app-extension
	url = https://github.com/benjaminsnorris/onepassword-app-extension.git
[submodule "Carthage/Checkouts/Reactor"]
	path = Carthage/Checkouts/Reactor
	url = https://github.com/jarsen/Reactor.git
